[vmcConfig]
strProdURL      = https://vmc.vmware.com
strCSPProdURL   = https://console.cloud.vmware.com
refresh_Token   = gxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
org_id          = xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
sddc_id			= xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
