[vmcConfig]
strProdURL      = https://vmc.vmware.com
strCSPProdURL   = https://console.cloud.vmware.com
strVCDRProdURL =  https://vcdr-xxx-xxx-xxx-xxx.app.vcdr.vmware.com/

refresh_Token   = xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
org_id          = xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
sddc_id         = xxxxxxxxxxxxxxxxxxxxxxxxxxxxx

[vtcConfig]
MyAWS           = AWS_account
AWS_region      = us-west-2
DXGW_id         = xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
DXGW_owner      = DXGW account owner

[tkgConfig]
egress_CIDR     = x.x.x.x/x
ingress_CIDR    = x.x.x.x/x
namespace_CIDR  = x.x.x.x/x
service_CIDR    = x.x.x.x/x