[vmcConfig]
strProdURL      = https://vmc.vmware.com
strCSPProdURL   = https://console.cloud.vmware.com
strVCDRProdURL =  https://vcdr-xxx-xxx-xxx-xxx.app.vcdr.vmware.com/

refresh_Token   = xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
#OR
oauth_clientId  = xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
oauth_clientSecret = xxxxxxxxxxxxxxxxxxxxxxxxxxxxx

org_id          = xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
sddc_id         = xxxxxxxxxxxxxxxxxxxxxxxxxxxxx

[tkgConfig]
egress_CIDR     = x.x.x.x/x
ingress_CIDR    = x.x.x.x/x
namespace_CIDR  = x.x.x.x/x
service_CIDR    = x.x.x.x/x